<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <!--APP NAME HERE--></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
       <!-- App name should go here -->
      </h1>
    
      <nav style="display:flex; justify-content: flex-end;">
        <!-- Conditionally render logout button -->
        {{#if logged_in}}
            <a href="/logout" class="button button-clear">Logout</a>
            {{else}}
            <a href="/login" class="button button-clear">Login</a>
            <a href="/signup" class="button button-clear">Sign Up</a>
        {{/if}}
      </nav>

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>


    <footer>
    </footer>
        
    <!--script tag for logout.js-->
    <script src="/public/js/logout.js"></script>
</body>
</html>