<script id="homepage-template" type="text/x-handlebars-template">
  <header>
    {{#if loggedIn}}
    <h1>Welcome, {{username}}!</h1>
    {{/if}}
  </header>
  <div class="left-column">
    <h2>My Polls</h2>
    {{#each polls}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  <div class="right-column">
    <h2>Sign In</h2>
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br>
      <button type="submit">Sign In</button>
    </form>
    <h2>Create Account</h2>
    <form>
        <label for="username-input">Username:</label>
        <input type="text" id="username-input" name="username">
        <label for="password-input">Password:</label>
        <input type="password" id="password-input" name="password">
        <button type="submit">Create New Account</button>
    </form>

