<!-- left column polls-->
<div class="leftcol" id="leftcol">
<!--list of logged in users created polls -->



</div>

<!--main body sections that displays poll selected from leftcol-->
<div class="mainbody" id="mainbody">
    <div> <!--selected poll from left column -->
    </div>
    <div>
        <!--buttons for edit, delete, and view results for selected poll -->
        <button id="editpoll">Edit Poll</button>
        <button id="deletepoll">Delete Poll</button>
        <button id="viewresults">View Results</button>
    </div>


</div>